<head>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1><%= 'y = F(x) = ' + statement %></h1>
  <pre><%= 'x = {' + x + '}' %></pre>
  <pre><%= 'y = {' + y + '}' %></pre>
  <pre><%= 'mean(x) = ' + xMean %></pre>
  <pre><%= 'mean(y) = ' + yMean %></pre>
</body>
