<% let inputId = fieldName + (new Date()).getTime() + Math.floor((Math.random() * 100000)) %>
<input type="hidden" id="<%= inputId %>" name="<%= fieldName %>" rowId="<%= row._id %>" value="<%= JSON.stringify(value) %>" />
<% for (let optionValue in fieldInfo.options){ %>
  <div class="checkbox col-lg-4 col-md-6" style="margin-top:0">
    <label>
      <input type="checkbox" class="<%= inputId %>" fieldName="<%= fieldName %>" value="<%= optionValue %>" <%= value && value.indexOf(optionValue) > -1 ? "checked": ""%> /><%= fieldInfo.options[optionValue] %>
    </label>
  </div>
<% } %>

<script>
  $('.<%= inputId %>').change(function (event) {
    let val = []
    $('.<%= inputId %>:checked').each(function() {
      val.push($(this).val())
    })
    $('#<%= inputId %>').val(JSON.stringify(val))
  })
</script>