<input type="hidden" name="<%= fieldName %>" rowId="<%= row._id %>" value="<%= JSON.stringify(value) %>" />
<% for (let optionValue in fieldInfo.options){ %>
  <div class="checkbox col-lg-4 col-md-6" style="margin-top:0">
    <label>
      <input type="checkbox" fieldName="<%= fieldName %>" value="<%= optionValue %>" <%= value && value.indexOf(optionValue) > -1 ? "checked": ""%> /><%= fieldInfo.options[optionValue] %>
    </label>
  </div>
<% } %>

<script>
  $('input[fieldName="<%= fieldName %>"]').change(function (event) {
    let val = []
    $('input[fieldName="<%= fieldName %>"]:checked').each(function() {
      val.push($(this).val())
    })
    $('input[name="<%= fieldName %>"]').val(JSON.stringify(val))
  })
</script>
