<input type="hidden" name="<%= fieldName %>.default" value="[]" />
<% for (let optionValue in fieldInfo.options){ %>
  <div class="checkbox col-lg-4 col-md-6" style="margin-top:0">
    <label>
      <input type="checkbox" name="<%= fieldName %>[]" value="<%= optionValue %>" <%= value && value.indexOf(optionValue) > -1 ? "checked": ""%> /><%= fieldInfo.options[optionValue] %>
    </label>
  </div>
<% } %>
