<% if (value) { %>
<a href="<%= value %>" target="blank"><%= value.split('/').slice(-1)[0] %></a>
<% } %>
<input name="<%= fieldName %>" rowId="<%= row._id %>" class="form-control" type="file" value="<%= value %>" />
