<% let inputId = fieldName + (new Date()).getTime() + Math.floor((Math.random() * 100000)) %>
<input id="<%= inputId %>" name="<%= fieldName %>" rowId="<%= row._id %>" type="hidden" value="<%= value %>" />

<div>
  <!-- Presentation -->
  <div id="<%= inputId %>PresentationContainer" class="col-md-8" style="padding-left:0px"><%= value %></div>
  <!-- Trigger the modal with a button -->
  <div class="col-md-4" style="padding-right:0px">
    <a id="<%= inputId %>BtnShowModal" class="btn btn-default pull-right" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Edit</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="<%= inputId %>ModalContainer">
  <div class="modal-dialog cw-modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= fieldInfo.caption %></h4>
      </div>
      <div class="modal-body">
        <input id="<%= inputId %>SearchBox" class="form-control" placeholder="Search" style="margin-bottom:20px;" />
        <div id="<%= inputId %>InputContainer"></div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Close</a>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function () {
    let fieldInfo = JSON.parse(unescape('<%- escape(JSON.stringify(fieldInfo)) %>'))

    // load presentation container
    cwLoadMany2OnePresentationContainer('<%= inputId %>', fieldInfo)

    // load input container
    $('#<%= inputId %>BtnShowModal').click(function (event) {
      cwLoadMany2OneInputContainer('<%= inputId %>', fieldInfo)
    })

    // if searchBox changed, reload input container
    $('#<%= inputId %>SearchBox').keyup(function (event) {
      cwLoadMany2OneInputContainer('<%= inputId %>', fieldInfo)
    })

    // if select button clicked
    $('#<%= inputId %>InputContainer').on('click', '.<%= inputId %>BtnSelect', function (event) {
      // change input value
      let value = $(this).attr('value')
      $('#<%= inputId %>').val(value)
      // reload presentation container
      cwLoadMany2OnePresentationContainer('<%= inputId %>', fieldInfo)
      // clear inputContainer
      $('#<%= inputId %>InputContainer">').html('')
    })

  })
</script>