<% let inputId = fieldName + (new Date()).getTime() + Math.floor((Math.random() * 100000)) %>
<input id="<%= inputId %>" name="<%= fieldName %>" rowId="<%= row._id %>" type="hidden" value="<%= value %>" />

<!-- Presentation -->
<span id="<%= inputId %>PresentationContainer"><%= value %></span>

<!-- Trigger the modal with a button -->
<a class="btn btn-default pull-right" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Edit</a>

<!-- Modal -->
<div class="modal fade" id="<%= inputId %>ModalContainer">
  <div class="modal-dialog" style="width:100%; height:100%; padding-left:15px; padding-top:30px; overflow-y:auto; margin-top:0px; margin-bottom:0px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= fieldInfo.caption %></h4>
      </div>
      <div class="modal-body">
        <input id="<%= inputId %>SearchBox" class="form-control" />
        <div id="<%= inputId %>InputContainer"></div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Close</a>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function () {
    let fieldInfo = JSON.parse(unescape('<%- escape(JSON.stringify(fieldInfo)) %>'))

    // load presentation container
    cwLoadMany2OnePresentationContainer('<%= inputId %>', $('#<%= inputId %>').val(), fieldInfo)

    // load input container
    cwLoadMany2OneInputContainer('<%= inputId %>', fieldInfo)

    // if searchBox changed, reload input container
    $('#<%= inputId %>SearchBox').keyup(function (event) {
      cwLoadMany2OneInputContainer('<%= inputId %>', fieldInfo)
    })

    // if select button clicked
    $('#<%= inputId %>InputContainer').on('click', '.<%= inputId %>BtnSelect', function (event) {
      // change input value
      let value = $(this).attr('value')
      $('#<%= inputId %>').val(value)
      // reload presentation container
      cwLoadMany2OnePresentationContainer('<%= inputId %>', $('#<%= inputId %>').val(), fieldInfo)
    })

  })
</script>