<% let inputId = fieldName + (new Date()).getTime() + Math.floor((Math.random() * 100000)) %>
<input id="<%= inputId %>" name="<%= fieldName %>" rowId="<%= row._id %>" type="hidden" value="<%= value %>" />

<!-- Presentation -->
<span id="<%= inputId %>PresentationContainer"><%= value %></span>

<!-- Trigger the modal with a button -->
<a class="btn btn-default pull-right" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Edit</a>

<!-- Modal -->
<div class="modal fade" id="<%= inputId %>ModalContainer">
  <div class="modal-dialog" style="width:100%; height:100%; padding-left:15px; padding-top:30px; overflow-y:auto; margin-top:0px; margin-bottom:0px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= fieldInfo.caption %></h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom:1em">
          <a id="<%= inputId %>BtnAdd" class="btn btn-default" href="#">Add</a>
        </div>
        <div id="<%= inputId %>InputContainer"></div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Close</a>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function () {
    let fieldInfo = JSON.parse(unescape('<%- escape(JSON.stringify(fieldInfo)) %>'))

    // load presentation container
    cwLoadOne2ManyPresentationContainer('<%= inputId %>', $('#<%- inputId %>').val(), fieldInfo)

    // load input container
    cwLoadOne2ManyInputContainer('<%= inputId %>', fieldInfo)

    $('#<%= inputId %>BtnAdd').click(function (event) {
      event.preventDefault()
      let html = cwOne2ManyTableRow({}, fieldInfo.fields)
      $('#<%= inputId %>Table').append(html)
    })

  })
</script>