<% let inputId = fieldName + (new Date()).getTime() + Math.floor((Math.random() * 100000)) %>
<input id="<%= inputId %>" name="<%= fieldName %>" rowId="<%= row._id %>" type="hidden" value="<%= JSON.stringify(value) %>" />
<div id="<%= inputId %>UploadContainer" style="display:none;"></div>

<!-- Presentation -->
<span id="<%= inputId %>PresentationContainer"><%= value %></span>

<!-- Trigger the modal with a button -->
<a id="<%= inputId %>BtnShowModal" class="btn btn-default pull-right" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Edit</a>

<!-- Modal -->
<div class="modal fade" id="<%= inputId %>ModalContainer">
  <div class="modal-dialog cw-modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= fieldInfo.caption %></h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom:1em">
          <a id="<%= inputId %>BtnAdd" class="btn btn-default" href="#">Add</a>
        </div>
        <div id="<%= inputId %>InputContainer"></div>
      </div>
      <div class="modal-footer">
        <a id="<%= inputId %>BtnClose" class="btn btn-default" data-toggle="modal" data-target="#<%= inputId %>ModalContainer">Close</a>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function () {
    let fieldInfo = JSON.parse(unescape('<%- escape(JSON.stringify(fieldInfo)) %>'))

    // load presentation container
    cwLoadOne2ManyPresentationContainer('<%= inputId %>', fieldInfo)

    // load input container
    $('#<%= inputId %>BtnShowModal').click(function (event) {
      cwLoadOne2ManyInputContainer('<%= inputId %>', fieldInfo)
    })

    // Add new record
    $('#<%= inputId %>BtnAdd').click(function (event) {
      event.preventDefault()
      let html = cwGetOne2ManyTableRow({}, fieldInfo.fields)
      $('#<%= inputId %>Table').append(html)
    })

    // Delete record
    $('#<%= inputId %>Table').on('click', '.btnDeleteRow', function (event) {
      event.preventDefault()
      $(this).parent().parent().remove()
    })

    // Save value and reload presentation
    $('#<%= inputId %>BtnClose').click(function (event) {
      // clear uploadContainer
      $('#<%= inputId %>UploadContainer').html('')
      // build value
      let value = []
      let rowIndex = 0
      $('#<%= inputId %>Table tr.row-data').each(function () {
        let row = {}
        for (let fieldName in fieldInfo.fields) {
          if ($(this).children('td[fieldName="' + fieldName + '"]').length === 0) { continue }
          let td = $(this).children('td[fieldName="' + fieldName + '"]')[0]
          if ($(td).children('[name="' + fieldName + '"]').length === 0) { continue }
          let input = $(td).children('[name="' + fieldName + '"]')[0]
          // copy file input into uploadContainer
          if ($(input).attr('type') === 'file') {
            $(input).attr('name', '<%= fieldName %>.' + rowIndex + '.' + fieldName)
            $(input).appendTo('#<%= inputId %>UploadContainer')
          }
        row[fieldName] = $(input).val() 
        }
        value.push(row)
        rowIndex ++
      })
      // set value
      $('#<%= inputId %>').val(JSON.stringify(value))
      // show presentation
      cwLoadOne2ManyPresentationContainer('<%= inputId %>', fieldInfo)
      // clear inputContainer
      $('#<%= inputId %>InputContainer').html('')
    })

  })
</script>