<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <%- partial.htmlHeader %>
  </head>
  <body>
    <%- partial.largeBanner %>
    <%- partial.leftWidget %>
    <%- partial.smallBanner %>
    <%- content %>
    <%- partial.smallFooter %>
    <%- partial.rightWidget %>
    <%- partial.largeFooter %>
  </body>
</html>
