<!DOCTYPE html>
<html lang="en">
  <head>
    <%- partial.htmlHeader %>
    <%- partial.customHtmlHeader %>
  </head>
  <body>
    <%- partial.scripts %>
    <%- partial.customScripts %>
    <div class="container">
      <div class="row">
        <%- partial.largeBanner %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <% if (partial.leftWidget.trim().length > 0) { %>
          <div class="col-sm-3">
            <%- partial.leftWidget %>
          </div>
        <% } %>
        <div class="<%= partial.leftWidget && partial.rightWidget? 'col-sm-6': (partial.leftWidget || partial.rightWidget? 'col-sm-9': 'col-sm-12')%>">
          <%- partial.smallBanner %>
          <%- content %>
          <%- partial.smallFooter %>
        </div>
        <% if (partial.rightWidget.trim().length > 0) { %>
          <div class="col-sm-3">
            <%- partial.rightWidget %>
          </div>
        <% } %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <%- partial.largeFooter %>
      </div>
    </div>
    <%- partial.customFinalScripts %>
  </body>
</html>
