<% if (status < 400) { %>
  <div class="alert alert-success" role="alert">
    <strong>Success</strong> <%= userMessage %>
  </div>
<% } else { %>
  <div class="alert alert-danger" role="alert">
    <strong>Failed</strong> <%= userMessage %>
  </div>
<% } %>
<div style="margin-bottom:1em">

  <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
    <a class="btn btn-default btn-lg" href="/data/<%= cckState.schemaName %>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>">Back</a>
  <% } else { %>
    <a class="btn btn-default btn-lg" href="/">Back</a>
  <% } %>

</div>
<% if (developerMessage){ %>
  <script>
   console.log('<%= developerMessage %>');
  </script>
<% } %>
