<script src="/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/js/cck-form.js"></script>
<script src="/ejs/ejs.min.js"></script>
<form id="cw-form" action="/data/<%= cckState.schemaName %>/update/<%= cckState.documentId %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_excludeDeleted" value="<%= cckState.excludeDeleted %>" />
  <input type="hidden" name="limit" value="<%= cckState.limit %>" />

  <% for (let fieldName of cckState.fieldNames) { %>

    <% if (cckState.schema.fields[fieldName].renderTab) { %>
      <ul id="form-tabs" class="nav nav-tabs" style="margin-bottom:1em;">
        <% let active = true %>
        <% for (let tab in cckState.schema.tabs) { %>
          <li role="presentation" class="nav-item <%= active? 'active': '' %>">
            <a class="nav-link <%= active? 'active': '' %>" href="#<%= tab %>"><%- cckState.schema.tabs[tab] %></a>
          </li>
          <% active = false %>
        <% } %>
      </ul>
    <% } %>

    <% if (cckState.schema.fields[fieldName].hidden && cckState.schema.fields[fieldName].hidden.indexOf('update') > -1) { continue;} %>

    <% if (cckState.schema.fields[fieldName]._inputTemplate) { %>
      <span data-tab="<%= cckState.schema.fields[fieldName].tab %>">
        <%- renderFieldTemplate(cckState.schema, fieldName, '_inputTemplate', result) %>
      </span>
      <% continue %>
    <% } %>

    <div class="form-group col-sm-12" data-tab="<%= cckState.schema.fields[fieldName].tab %>">
      <label class="col-form-label col-sm-2"><%= cckState.schema.fields[fieldName].caption %></label>
      <div class="col-sm-10">
        <%- renderFieldTemplate(cckState.schema, fieldName, 'inputTemplate', result) %>
      </div>
    </div>

  <% } %>

  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-2">
      <button class="btn btn-default" href="/data/<%= cckState.schemaName %>">Save</button>

      <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
        <a class="btn btn-default" href="/data/<%= cckState.schemaName %>">Cancel</a>
      <% } else { %>
        <a class="btn btn-default" href="/">Cancel</a>
      <% } %>

    </div>
  </div>
</form>