<div style="margin-bottom:1em">
  <a id="button-insert" class="btn btn-default" href="/data/<%= cckState.schemaName %>/insert">Add</a>
</div>
<table class="table">
  <thead>
    <tr>
      <% for (let fieldName of cckState.fieldNames) { %>
        <th><%= cckState.schema.fields[fieldName].caption %></th>
      <% } %>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for (let row of results) { %>
      <tr>
        <% for (let fieldName of cckState.fieldNames) { %>
          <td><%- render(cckState.schema, fieldName, ['tabularPresentationTemplate', 'presentationTemplate'], row) %></td>
        <% } %>
        <td>
          <a class="btn btn-default button-detail" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/<%=row._id%>">Detail</a>
          <a class="btn btn-default button-update" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/update/<%=row._id%>">Update</a>
          <a class="btn btn-default button-delete" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/delete/<%=row._id%>">Delete</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
