<% if (status < 400) { %>
  <div class="alert alert-success" role="alert">
    <strong>Success</strong> <%= userMessage %>
  </div>
<% } else { %>
  <div class="alert alert-danger" role="alert">
    <strong>Failed</strong> <%= userMessage %>
  </div>
<% } %>
<div style="margin-bottom:1em">
  <a class="btn btn-default btn-lg" href="/data/<%= cckState.schemaName %>/insert?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>"><span class="glyphicon glyphicon-plus"></span> Insert Again</a>

  <% if (status < 400 && isAuthorized(cckState.auth, cckState.schema.updateGroups) && result && '_id' in result) { %>
    <a class="btn btn-default btn-lg" href="/data/<%= cckState.schemaName %>/update/<%= result._id %>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
  <% } %>

  <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
    <a class="btn btn-default btn-lg" href="/data/<%= cckState.schemaName %>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>">Back</a>
  <% } else { %>
    <a class="btn btn-default btn-lg" href="/">Back</a>
  <% } %>

</div>
<% if (developerMessage){ %>
  <script>
   console.log('<%= developerMessage %>');
  </script>
<% } %>
