<script src="/ace-builds/src-min-noconflict/ace.js"></script>
<script src="/js/cck-form.js"></script>
<script src="/ejs/ejs.min.js"></script>

<h3><%='caption' in cckState && cckState.caption ? cckState.caption : cckState.schemaName %></h3>

<div style="margin-bottom:1em">

  <% if (cckState._customHtmlComponents) { %>
    <%- cckState._customHtmlComponents %>
  <% } %>

  <form action="/data/<%= cckState.schemaName %>" class="form-horizontal">

      <div class="form-group">
      <div class="col-sm-6">
        <input type="hidden" name="_excludeDeleted" value="<%= cckState.excludeDeleted %>" />
        <input type="hidden" name="limit" value="<%= cckState.limit %>" />
        <input type="hidden" name="_q" value="<%= cckState.q %>" />
        <input type="text" class="form-control" name="_k" placeholder="Keyword" value="<%= cckState.k %>" />
      </div>
      <button class="btn btn-default" name="search" value="1"><span class="glyphicon glyphicon-search"></button>

      <a id="button-show-all" class="btn btn-default" href="/data/<%= cckState.schemaName %>?_excludeDeleted=<%= cckState.excludeDeleted == 1 ? 0 : 1 %>&limit=<%= cckState.limit %>&_q=<%= cckState.q %>&_k=<%= cckState.k %>">
        <span class="glyphicon <%= cckState.excludeDeleted == 1 ? 'glyphicon-eye-close' : 'glyphicon-eye-open' %>"></span>
      </a>

      <!-- Insert Button -->
      <% if (isAuthorized(cckState.auth, cckState.schema.insertGroups)) { %>
        <a id="button-insert" class="btn btn-default" href="/data/<%= cckState.schemaName %>/insert?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&_q=<%= cckState.q %>&_k=<%= cckState.k %>">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      <% } %>

    </div>
  </form>

</div>

<% if (results.length > 0) { %>
  <table class="table">
    <thead>
      <tr>
        <% for (let fieldName of cckState.fieldNames) { %>
          <% if (cckState.schema.fields[fieldName].hidden && cckState.schema.fields[fieldName].hidden.indexOf('tabular') > -1) { continue;} %>
          <th><%= cckState.schema.fields[fieldName].caption %></th>
        <% } %>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for (let row of results) { %>
        <tr class="<%= row._deleted ? "danger" : "" %>">
          <!-- Content -->
          <% for (let fieldName of cckState.fieldNames) { %>
            <% if (cckState.schema.fields[fieldName].hidden && cckState.schema.fields[fieldName].hidden.indexOf('tabular') > -1) { continue;} %>
            <td><%- renderFieldTemplate(cckState.schema, fieldName, ['tabularPresentationTemplate', 'presentationTemplate'], row) %></td>
          <% } %>

          <td>

            <% if (row._customHtmlComponents) { %>
              <%- row._customHtmlComponents %>
            <% } %>

            <!-- Detail Button -->
            <% if (isAuthorized(cckState.auth, cckState.schema.selectGroups)) { %>
              <a class="btn btn-default button-detail" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/<%=row._id%>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&_q=<%= cckState.q %>&_k=<%= cckState.k %>">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            <% } %>

            <!-- Update Button -->
            <% if (isAuthorized(cckState.auth, cckState.schema.updateGroups) && !row._restrictUpdate) { %>
              <a class="btn btn-default button-update" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/update/<%=row._id%>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            <% } %>

            <!-- Delete Button -->
            <% if (isAuthorized(cckState.auth, cckState.schema.deleteGroups) && !row._restrictDelete) { %>
              <a class="btn btn-default button-delete" rowId="<%=row._id%>" href="/data/<%= cckState.schemaName %>/delete/<%=row._id%>?_excludeDeleted=<%= row._deleted ? 0 : 1%>&limit=<%= cckState.limit %>">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <div class="alert alert-warning"><b>No Data</b></div>
<% } %>

<% let pageCount = Math.round(metadata.resultset.count / cckState.limit) %>

<% if (pageCount > 1) { %>
  <% let pageNumber = Math.round(metadata.resultset.offset / cckState.limit) %>
  <nav aria-label="Page navigation">
    <ul class="pagination">

      <!-- prev -->
      <li class="<%= pageNumber === 0 ? 'disabled' : '' %>">
        <a href="/data/<%= cckState.schemaName %>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&offset=<%= (pageNumber - 1) * cckState.limit %>&_q=<%= cckState.q %>&_k=<%= cckState.k %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <!-- pages -->
      <% for (let i = 0; i < pageCount; i++) { %>
        <li class="<%= i === pageNumber ? 'active' : '' %>">
          <a href="/data/<%= cckState.schemaName %>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&offset=<%= i * cckState.limit %>&_q=<%= cckState.q %>&_k=<%= cckState.k %>">
            <%= i + 1%>
          </a>
        </li>
      <% } %>

      <!-- next -->
      <li class="<%= pageNumber === (pageCount - 1) ? 'disabled' : '' %>">
        <a href="/data/<%= cckState.schemaName %>?_excludeDeleted=<%= cckState.excludeDeleted%>&limit=<%= cckState.limit %>&offset=<%= (pageNumber + 1) * cckState.limit %>&_q=<%= cckState.q %>&_k=<%= cckState.k %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

    </ul>
  </nav>
<% } %>
