<input id="<%= fieldName %>" name="<%= fieldName %>" rowId="<%= row._id %>" type="hidden" value="<%= value %>" />
<span id="<%=fieldName %>PresentationContainer"><%= value %></span>
<script>
  $(document).ready(function () {
    // load presentation container
    cwLoadMany2OnePresentationContainer('<%- fieldName %>', $('#<%- fieldName %>').val(), '<%- fieldInfo.ref %>', '<%- fieldInfo.keyField %>', JSON.parse('<%- JSON.stringify(fieldInfo.fields) %>'))
  })
</script>

