<input id="<%= fieldName %>" name="<%= fieldName %>" rowId="<%= row._id %>" type="hidden" value="<%= value %>" />
<span id="<%=fieldName %>PresentationContainer"><%= value %></span>

<script>
  $(document).ready(function () {
    let fieldInfo = JSON.parse(unescape('<%- escape(JSON.stringify(fieldInfo)) %>'))
    // load presentation container
    cwLoadOne2ManyPresentationContainer('<%- fieldName %>', $('#<%- fieldName %>').val(), JSON.parse('<%- JSON.stringify(fieldInfo.fields) %>'))
  })
</script>