<% if (config.showLeftNav) { %>
  <div class="list-group">
    <% for (let navigation of config.navigation) { %>
      <% if (!isAuthorized(request.auth, navigation.groups)) {continue; } %>

      <% if ('url' in navigation && typeof(navigation.url) === 'string' && navigation.url.trim() !== '') { %>
        <!-- Navigation -->
        <a class="left-menu list-group-item <%= navigation.url === request.url ? 'active' : '' %>" href="<%= navigation.url %>"><%- navigation.caption %></a>
      <% } else { %>
        <!-- Header -->
        <a href="#" class="list-group-item disabled" style="font-size:large"><%- navigation.caption%></a>
        <!-- SubNavigation -->
        <% for (let subNavigation of navigation.children) { %>
          <% if (!isAuthorized(request.auth, subNavigation.groups)) {continue; } %>
          <% if ('url' in subNavigation) { %>
            <a class="left-menu list-group-item <%= subNavigation.url === request.url ? 'active' : '' %>" href="<%= subNavigation.url %>"><%- subNavigation.caption %></a>
          <% } %>
        <% } %>
      <% } %>

    <% } %>
  </div>
  <script type="text/javascript">
    $(document).ready(function (event) {
      let requestUrl = '<%= request.url %>'
      let maxHref = ''
      if ($('.left-menu.active').length === 0) {
        $('.left-menu').each(function () {
          let href = $(this).attr('href')
          if (requestUrl.indexOf(href) === 0 && href.length > maxHref.length) {
            maxHref = href
          }
        })
        $('.left-menu[href="' + maxHref + '"]').addClass('active')
      }
    })
  </script>
<% } %>
